apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-python-app
  lables:
    app: my-python-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-python-app
  template:
    metadata:
      lables:
        app: my-python-app
    spec:
      containers:
        - name: my-python-app
          image: ${IMAGE_AND_TAG}
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: "prod"
